/* Reset CSS */
*{
    box-sizing: border-box;
    padding: 0 0;
    margin:0 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

/* <!--Header--> */

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top:0;
    left:0;
    right:0;

}

#header .nav{
    display: inline-block;
}

#header .nav li{
    display: inline-block;
    position: relative;
}

.nav li a{
    display: inline-block;
    line-height: 22.5px;
    padding: 12px 24px;
    color:#fff;
    text-decoration: none;
}
.nav >li >a{
    text-transform: uppercase;
}

.nav >li:hover >a{
    color: #000;
    background-color: #ccc;
}

#header .subnav{
    
    display: none;
}

.nav li:hover .subnav{
    
    display: inline-block !important;
    background-color: #fff;
    position: absolute;
    margin:46px 0 0 0;
    left:0;
    box-shadow: 2px 4px 4px 4px #ccc;
}

.subnav li:hover{
    background-color: #ccc;

}

#header .subnav li{
    list-style: none;
    width:100%;
    
}

.subnav li a{
    color:#000;
    width:100%;
}

#header .more-icon{
    padding: 24px 5px;
}

#header .search-icon{
    float: right;
    padding: 12px 24px;
    line-height: 22.5px;
    color:#fff;
}

#header .search-icon:hover{
    background-color: coral !important;
}

/* <!--Slides--> */

#slides{
    background: url('/img/chicago.jpg') top center /cover no-repeat;
    padding-top: 50%;
    margin-top: 46px;
    
}

#slides .text-slide{
    position: absolute;
    color:#fff;
    bottom: 0;
    width:100%;
    text-align: center;
    padding-bottom: 46px;
}

#slides .text-slide h1{
    font-weight: lighter;
    font-size:large;
}

#slides .text-slide h2 {
    font-size: medium;
}


/* <!--Content--> */

#content{
    
}

#content .TheBand{
    display: block;
    padding: 64px 16px;
    margin-left: 24%;
    margin-right: 24%;
}

#content .TheBand h1{
    font-weight: lighter;
    letter-spacing: 4px;
    text-align: center;
}

#content .TheBand h2{
    font-weight: lighter;
    font-style: italic;
    font-size: 15px;
    color:darkgrey;
    padding-top: 15px;
    text-align: center;
}

#content .TheBand p{
    font-size: 15px;
    margin-top: 15px;
    text-align: justify;
    padding: 0 16px;
}

.TheBand .Name{
    padding: 32px 16px;
}

.TheBand .text-Name li{
    margin: 15px 0;
}

.TheBand .Name li{
    list-style: none;
    float:left;
    width:33.33%;
    text-align: center;
    font-size: 15px;
    padding: 0 32px;

}

#content .TourDates{

}

#content .Contact{

}

/* <!--Root-->  */

#root{

}