/* Reset CSS */
*{
    box-sizing: border-box;
    padding: 0 0;
    margin:0 0;
}

/* Common */

html{
    font-family: Arial, Helvetica, sans-serif;
}

/* <!--Header--> */

#header{
    height: 46px;
    background-color: #000;
    position: fixed ;
    z-index: 1;
    top:0;
    left:0;
    right:0;
    box-shadow: 
        0 2px 5px 0 rgb(0 0 0 / 16%), 
        0 2px 10px 0 rgb(0 0 0 / 12%);
}

#header .nav{
    display: inline-block;
}

#header .nav li{
    display: inline-block;
    position: relative;
}

.nav li a{
    display: inline-block;
    line-height: 22.5px;
    padding: 12px 24px;
    font-size: 16px;
    color:#fff;
    text-decoration: none;
}
.nav >li >a{
    text-transform: uppercase;
}

.nav >li >a >i {
    font-size: 13px;
}

.nav >li:hover >a{
    color: #000;
    background-color: #ccc;
}

#header .subnav{
    display: none;
}

.nav li:hover .subnav{
    display: inline-block !important;
    background-color: #fff;
    position: absolute;
    margin:46px 0 0 0;
    left:0;
    box-shadow: 
        0 4px 10px 0 rgb(0 0 0 / 20%), 
        0 4px 20px 0 rgb(0 0 0 / 19%);
}

.subnav li:hover{
    background-color: #ccc;

}

#header .subnav li{
    list-style: none;
    width:100%;
    
}

.subnav li a{
    color:#000;
    width:100%;
}

#header .more-icon{
    padding: 24px 5px;
}

#header .search-icon{
    float: right;
    padding: 12px 24px;
    line-height: 22.5px;
    color:#fff;
}

#header .search-icon:hover{
    background-color: coral !important;
}

/* <!--Slides--> */

#slides{
    background: url('./img/chicago.jpg') top center /cover no-repeat;
    padding-top: 50%;
    margin-top: 46px;
    
}

#slides .text-slide{
    color:#fff;
    bottom: 0;
    width:100%;
    text-align: center;
    padding-bottom: 46px;
}

#slides >.text-slide >h1{
    font-weight: lighter;
    font-size:large;
}

#slides >.text-slide >h2 {
    font-size: medium;
}


/* <!--Content--> */

#content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


/* The Band */

#content #TheBand{
    display: block;
    padding: 64px 16px;
}

#content >#TheBand >h1{
    font-weight: lighter;
    letter-spacing: 4px;
    text-align: center;
    font-size: 30px;
    margin:10px 0;
    line-height: 45px;
}

#content >#TheBand >h2{
    font-weight: lighter;
    font-style: italic;
    font-size: 15px;
    line-height: 1.5;
    color:rgb(114, 112, 112);
    margin: 15px 0;
    text-align: center;
}

#content >#TheBand >p{
    font-size: 15px;
    margin: 15px 0;
    text-align: justify;
    line-height: 1.5;
}

#TheBand .Name{
    padding: 32px 0;
    display: inline-block;
    
}

#TheBand .text-Name li{
    margin: 15px 0;
}

#TheBand .text-Name >li{
    list-style: none;
    float:left;
    width:33.33%;
    text-align: center;
    font-size: 15px;

}

#TheBand .img-Name{
    padding: 0 0;
}

#TheBand .img-Name li{
    float:left;
    list-style: none;
    margin:0 0 16px;
    text-align: center !important;
   
}

#TheBand .img-Name img{
    width:60%;
    border-radius: 8px;
    
}

/* Tour Dates */
#TourDates{
    background-color:#000;
    width:100%;
    color: #FFF;
    box-sizing: border-box;
}

#TourDates .tour-dates-tickets {
    padding: 64px 16px;
    max-width: 800px;
    margin: 0 auto;
}

#TourDates h1{
    text-align: center;
    margin: 10px 0;
    color: #fff;
    font-weight:100;
    letter-spacing: 4px;
    font-size: 30px;

}

#TourDates h2{
    text-align: center;
    font-style: italic;
    color:#ccc;
    font-size: 15px;
    margin: 15px 0 35px 0;
    opacity: 0.6;
    
}



/* Tour tickets */

.tour-tickets{
    background-color: #fff;
    font-size: 15px;
    display: block;
}

.tour-tickets li{
    line-height: 22.5px;
    color: #757575;
    list-style: none;
    padding: 8px 16px;
    border-bottom: 1.5px solid #ddd ;
    padding: 8px 16px;
}

.tour-tickets .sold-out{
    color: #fff;
    margin-left: 20px;
    background-color:#f44336;
    padding: 3px 8px;

}

.tour-tickets .quantity{
    float:right;
    color:#fff;
    background-color: #000;
    padding: 4px 12px;
    border-radius: 50% ;
    margin-top: -4px;
}

/* Tour Image */

.tour-img{
    padding: 32px 0px;
    width: 100%;
    background-color: #000;
    
}

.tour-img .list-img{
    text-align: center;
}

.tour-img li{
    display: inline-block;
    /* margin: 0 8px; */
    list-style: none;
    width: 31%;
    background-color: #fff;
}

.New-York { margin: 0 8px 0 0; }
.Paris { margin: 0 14px; }
.San-Francisco { margin: 0 0 0 8px; }

.tour-img img{
    vertical-align: middle;
    width:100%
}

.tour-img h1{
    color: #000 !important;
    font-size: 15px !important;
    padding:0.15px 16px;
    text-align: initial !important;
    letter-spacing: normal !important;
    margin: 15px 0;
    font-weight:bold !important;
}

.tour-img h2{
    color: #000 !important;
    opacity: 0.6;
    font-size: 15px !important;
    font-style: normal !important;
    padding:0.15px 16px;
    text-align: initial !important;
    margin: 15px 0 !important;
    font-weight: lighter;

}

.tour-img p{
    color: #000;
    font-size: 15px;
    line-height: 1.5;
    padding:0.15px 16px;
    text-align: initial !important;
    margin: 15px 0;
    


}

.tour-img .Buy-Tickets{
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    font-size: 15px;
}

.tour-img .Buy-Tickets:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}


/* Contact */

.row{
    width:100%;
}

.col{
    float: left;
    padding: 8px 8px;
}

.col-2{
    width:50%;
    
}

#Contact{
    padding: 64px 16px;
    max-width: 800px;
    margin: 0 auto;
}

.contact-h1{
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.8;
    margin: 10px 0;
    font-size: 30px;

}

.contact-h2{
    color:#000;
    font-style: italic;
    opacity: 0.6;
    text-align: center;
    margin: 15px 0;
    font-weight: lighter;
    font-size: 15px;

}

#Contact .Inform{
    display: inline-block;
    font-size: 18px;
    padding: 32px 0;

}

#Contact .inf{
    margin-bottom: 16px;
    line-height: 1.5;
}

#Contact .icon{
    display: inline-block;
    color: #000;
    padding:0 18px 0 0 !important;
    font-size: 17px;
    line-height: 1.5;
}

input {
    overflow: visible;
    border: 1px solid #CCC;
}

#Contact .mes{
    line-height: 1.5;
    padding: 8px 8px;
    margin-top: 8px;
}

#Contact .submit{
    margin: 0 8px;
    float:right;
    padding: 10px 16px;
    background-color: #000;
    text-align: center;
    border: none;
    color: #fff;
    cursor: pointer;
}

#Contact .Name{
    width:48%;
    margin-right: 12px;
    line-height: 22.5px;
}

#Contact .Email{
    width:48%;
    line-height: 22.5px;

}



/* Map img */
.map-img {
    width: 100%;
    filter: grayscale(50%);
    height: auto;
    vertical-align: middle;
}




/* <!--Root-->  */

#root{
    padding: 64px 16px;
    background-color: #F1F1F1;
    color: #000;
    text-align: center;
    display: block;
    opacity: 0.60;
}

#root .inf-root .icon{
    display: inline-block;
    opacity: 0.6;
    height: 22.5px;
}

#root .text{
    text-align: center;
    font-size: 15px;
    line-height: 22.5px;
    margin: 15px 0;
}

footer a {
    color: black;
}

footer i{ font-size: 21px; }
footer i:hover {
    opacity: 0.50;
}
